<div>
    <%= render "shared/navbar" %>
    <div class="container">
      <h1 class="text-center text-white p-2">Get started by adding books to your collection</h1>
      <div>
        <%= button_to 'Add books', new_book_path, class: 'btn btn-primary' %>
        <button>Create reading list</button>
      </div>
    </div>
</div>
